{% extends 'layout.html' %}

{% block content %}

<!-- Home Section -->

<section id="home" class="main-about parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>About Us</h1>
               </div>

          </div>
     </div>
</section>

<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="col-md-4 col-sm-4">
                         <h2>Our Story</h2>
                         <p> We've seen that it is not a very easy task to find a good or desired<strong> Photographers or Videographers</strong>, and we put it on our self to save you the stress of looking for one.</p>
                         <p> Also we have so much passions in taking <strong> Photos .</strong></p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2>Our Goal</h2>
                         <p> We are bent on making it so much easy to find your desired <strong> Photographers or Videographers</strong> for your photoshots and video coverage. </p>
                         <p>Also making it super easy for <strong> Photographers and Videographers</strong> to reach their targeted audience.</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2>For More Info</h2>
                         <p>In order to find out more about us, please go to our Contact page and send us a message :).</p>
                         <p>But while you are still here, please feel free to take a walk around and see some cool photos on our Gallery page.</p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <h3>Fully Customizable!</h3>
                         <p>In as much with providing experienced <strong>Photographers and Videographers, </strong>we also make sure to modify our works, in order to suit the taste of the client, be it high camera quality ETC...</p>
                         <p>We also make sure that a <strong>Photographer or Videographer </strong>is properly examined by getting the address of the photographer and other vital informations before meet-up, for security purposes .</p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <img src="static/images/blog-image4.jpg" class="img-responsive" alt="About Image">
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-4">
                         <img src="static/images/about-image1.jpg" class="img-responsive" alt="Blog Image">
                         <h3>Outdoor shots</h3>
                         <p>We provides exquisite cool outdoors photo, tour photos and also going on adventures with you .</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <img src="static/images/about-image2.jpg" class="img-responsive" alt="Blog Image">
                         <h3>party shots</h3>
                         <p>Also helps you to find a good photographer(s) or a videographer(s) to cover your parties/events .</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <img src="static/images/about-image3.jpg" class="img-responsive" alt="Blog Image">
                         <h3>Birthday Shots</h3>
                         <p>We also cover birthday pictures both children and adults, outdoor shots inclusive .</p>
                    </div>
					
                    <h3>Other Shots </h3>
                    <p> Moreover we help you find perfect and experienced <strong> photographers, studio workers, videographers</strong> for your weddings, graduations, surprises and so on... We literally cover everything you can think of . </p>
               </div>

          </div>
     </div>
</section>

<!-- Footer Section -->

{% endblock %}
